<div fxLayout="column" [@fadeInOut]>
  <h2 class="sub-header">My Account</h2>
  <mat-card [formGroup]="account_group"
      fxLayout="column"
      fxLayoutAlign="start center"
      class="background-box mat-elevation-z4 near-max-width">
      <h3>Edit account info</h3>
      <mat-form-field>
        <input matInput
          placeholder="First name"
          formControlName="first_name"/>
        <mat-error>First name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
          placeholder="Last name"
          formControlName="last_name"/>
        <mat-error>Last name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
          placeholder="Email address"
          formControlName="email"/>
        <mat-error>A valid email address is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
          type="password"
          placeholder="Password"
          formControlName="password"/>
        <mat-error>
          Password (8+ chars) is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirm_password"/>
        <mat-error>
          Password does not match!
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="account_group?.controls?.confirm_password?.dirty && account_group?.errors?.mismatched_passwords" class="error">
        Passwords do not match
      </mat-error>
      <button mat-button
        color="accent"    
        fxFlex="45%"
        fxFlex.lt-md="90%"
        fxLayout="column"
        fxLayoutAlign="start center"
        class="background-box near-max-width mat-elevation-z4"
        [disabled]="account_group.invalid"
        (click)="attemptEdit()">
        Save changes
      </button>
    </mat-card>
    <mat-card [formGroup]="activation_group"
    fxLayout="column"
    fxLayoutAlign="start center"
    class="background-box mat-elevation-z4 near-max-width">
    <h3>Activate premium membership</h3>
    <div fxLayout="row" 
      fxLayout.lt-md="column"
      fxLayoutAlign="center center">
      <mat-form-field fxLayout="column">
        <input matInput
          type="text"
          placeholder="Membership code"
          formControlName="membership_code"/>
        <mat-error>Invalid code!</mat-error>
      </mat-form-field>
      <button mat-button
        style="margin-left: 10px"
        color="accent"   
        class="background-box mat-elevation-z4 margin-left"
        [disabled]="activation_group.invalid"
        (click)="activationAttempt()">
      Activate
    </button>
    </div>
  </mat-card>
</div>