<nav id="headerNav"
  [attr.fxLayout]="orientation === Orientation.HORIZONTAL ? 'row wrap' : null"
  [attr.fxLayoutAlign]="orientation === Orientation.HORIZONTAL ? 'end' : null"
  [class.horizMenu]="orientation === Orientation.HORIZONTAL">
  <app-nav-button link="/admin" textContent="Admin" 
    [requireRole]="Role.ADMIN" equivalentLink="/admin/users">
  </app-nav-button>
  <app-nav-button link="/about" textContent="About">
  </app-nav-button>
  <app-nav-button link="/login" textContent="Login" 
    [requireLoggedOut]="true" equivalentLink="/">
  </app-nav-button>
  <app-nav-button link="/charting/stocks" textContent="Stocks" 
    equivalentLink="/charting" [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/charting/currencies" textContent="Currencies" 
    [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/account/manage" textContent="My Account" 
    equivalentLink="/account" [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/logout" textContent="Log Out" 
    [requireRole]="Role.FREE">
  </app-nav-button>
</nav>