<nav id="header-nav"
  fxLayout="row wrap"
  fxLayoutAlign="end">
  <app-nav-button link="/admin" textContent="Admin"
    [requireRole]="Role.ADMIN" equivalentPrefix="/admin">
  </app-nav-button>
  <app-nav-button link="/about" textContent="About">
  </app-nav-button>
  <app-nav-button link="/login" textContent="Login"
    [requireLoggedOut]="true" equivalentLink="/">
  </app-nav-button>
  <app-nav-button link="/charting/stocks" textContent="Stocks"
    equivalentLink="/charting" [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/charting/currencies" textContent="Currencies"
  [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/account/manage" textContent="My Account"
  [requireRole]="Role.FREE">
  </app-nav-button>
  <app-nav-button link="/logout" textContent="Log Out"
    [requireRole]="Role.FREE">
  </app-nav-button>
</nav>