button {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    width: 200px !important;
}

a button, a mat-icon {
    color: silver;
}

a button {
    font-weight: bold;
    width: 100%;
}

.pad-vert {
    box-sizing: border-box;
    height: 56px;
}

.current button, .current mat-icon {
    color: white !important;
}

.icon-box {
    width: 30%;
}

.link-label {
    width: 70%;
    text-align: left;
    white-space: initial;
    word-wrap: break-word;
}