<a [routerLink]="link" (click)="closeNavBar()" [@fadeInOutExpandContractNavButton]="(navbar_has_loaded$ | async) ? NavbarLoadStatus.SUBSEQUENT : NavbarLoadStatus.INITIAL"
*ngIf=" (requireLoggedOut && !(logged_in$ | async)) 
  || (!requireRole && !requireLoggedOut)
  || (requireRole && has_required_role)">
  <button mat-button
      [class.current]="(current_url$ | async) === link 
        || (equivalentLink && ((current_url$ | async) === equivalentLink))
        || (equivalentPrefix && ((current_url$ | async).indexOf(equivalentPrefix) === 0))">
    {{textContent}}
  </button>
</a>
   