button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

a button {
    color: silver;
    font-weight: bold;
}

.current {
    color: white !important;
}