<a [routerLink]="link" (click)="closeNavBar()" [@fadeInOutExpandContractNavButton]="(navbarHasLoaded$ | async) ? NavbarLoadStatus.SUBSEQUENT : NavbarLoadStatus.INITIAL"
*ngIf="(requireLoggedIn && (loggedIn$ | async)) 
  || (requireLoggedOut && !(loggedIn$ | async)) 
  || (!requireLoggedIn && !requireLoggedOut)">
  <button mat-button
      [class.current]="(currentUrl$ | async) === link 
        || (equivalentLink && ((currentUrl$ | async) === equivalentLink))">
    {{textContent}}
  </button>
</a>
   