<nav id="header-nav"
  fxLayout="column"
  class="chartman-theme">
  <app-nav-button-vert link="/admin" textContent="Admin"
    [requireRole]="Role.ADMIN" equivalentLink="/admin/users">
  </app-nav-button-vert>
  <app-nav-button-vert link="/about" textContent="About">
  </app-nav-button-vert>
  <app-nav-button-vert link="/login" textContent="Login"
    [requireLoggedOut]="true" equivalentLink="/">
  </app-nav-button-vert>
  <app-nav-button-vert link="/charting/stocks" textContent="Stocks"
    equivalentLink="/charting" [requireRole]="Role.FREE">
  </app-nav-button-vert>
  <app-nav-button-vert link="/charting/currencies" textContent="Currencies">
  </app-nav-button-vert>
  <app-nav-button-vert link="/account/manage" textContent="My Account">
  </app-nav-button-vert>
  <app-nav-button-vert link="/logout" textContent="Log Out"
    [requireRole]="Role.FREE">
  </app-nav-button-vert>
</nav>