@import '../chartman-theme.scss';

$light-cyan: #66ffff;
$datepicker-icon-width: 24px;
$mat-form-field-width: 250px;

.selected-chip {
  color: $accent-light !important;
}

.mat-simple-snackbar {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
}

.dropdown-menu, .mat-select-content {
  border: 4px solid $accent-light;
  border-radius: 2px;
}

.mat-select-content {
  background-color: rgb(211,211,211);
  color: black;
  font-size: 1em;
}

mat-menu {
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6, .mat-menu-item {
  font-family: $fancy-font-family !important;
  font-weight: normal !important;
}

mat-form-field.ng-invalid.ng-touched {
  margin-bottom: 0.5em;
}

th.mat-header-cell {
  text-align: center !important;
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (max-width:450px){
  th.mat-header-cell {
    font-size: 0.8em;
  }
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card.background-box {
  background-color: $bookend-background-color;
  border: 3px solid $accent-light;
}

mat-card.editor-box {
  background-color: $editor-background-color !important;
  border: 3px solid white;
}

mat-card.background-box, mat-card.editor-box {
  color: white;
  box-sizing: border-box;
  border-radius: 1em;
  margin: 20px auto;
  padding: 20px;
  max-width: 96%;

  a:link {
    color: $light-cyan;
  }

  a:visited {
    color: $light-cyan;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: orange;
  }
}

.mat-select-panel, .mat-autocomplete-panel, .mat-calendar {
  background-color: $bookend-background-color-light;
  color: white;

  mat-option:hover {
    background-color: black;
    color: $accent-light;
    font-weight: bold;
  }
}

.mat-form-field-infix {
  width: $mat-form-field-width !important;
}

.datepicker-field .mat-form-field-infix{
  width: $mat-form-field-width - $datepicker-icon-width !important;
}

mat-dialog-actions {
  padding-bottom: 24px !important;
}