<mat-card id="about" class="background-box" [@fadeInOut]>
  <h2>About &cent;hartman</h2>
  <p>
    Chartman is a platform for tracking the value of American-listed stocks, and currencies (both national fiat currencies and cryptocurrencies). Beyond the traditional "candlestick chart" with volume,
    Chartman also tracks momentum (<a href="https://www.investopedia.com/terms/m/macd.asp" target="_blank">MACD</a> and <a href="https://www.investopedia.com/terms/r/rsi.asp" target="_blank"> RSI</a>), volatility
    (<a href="https://www.investopedia.com/articles/technical/102201.asp" target="_blank"> Bollinger bands</a>), and selling pressure (<a href="https://www.investopedia.com/terms/s/stochasticoscillator.asp" target="_blank">stochastic oscillators</a>).
  </p>
  <img src="../../../assets/images/sample-candlestick.png"/>
  <img src="../../../assets/images/sample-oscillators.png"/>
  <p>
    Logged-in users can save any number of equities or currency pairs to their profile, and view their charts when convenient.
    Raw daily data is pulled, as needed, from <a href="https://www.alphavantage.co/">Alpha Vantage's free API</a>.
  </p>
</mat-card>
