<mat-card [formGroup]="resetGroup" [@fadeInOut]
  fxLayout="column"
  fxLayoutAlign="start center"
  class="background-box mat-elevation-z4 ninety-thin seventy-wide padded">
  <h2>Change password</h2>
  <mat-form-field>
    <input matInput
      placeholder="Confirm email address"
      formControlName="email"/>
    <mat-error>A valid email address is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           placeholder="Password"
           formControlName="password"/>
    <mat-error>
      Password (5+ chars) is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           placeholder="Confirm password"
           formControlName="confirmPassword"/>
    <mat-error>
      Password does not match!
    </mat-error>
  </mat-form-field>
  <button mat-button
    color="accent"
    class="background-box mat-elevation-z4"
    [disabled]="resetGroup.invalid"
    (click)="changePassword()">
    Save change
  </button>
</mat-card>