nav {
    position: sticky;
    top: 0;
    width: 200px !important;
}
@media only screen and (max-height: 400px) {
    nav {
      position: static !important; // easiest way to allow scrolling on small screen
    }
  }
app-nav-button-vert {
    width: 200px !important;
}

.nav-label {
  padding-top: 5px;
  padding-bottom: 5px; 
  border-top: 2px solid silver; 
  border-bottom: 2px solid silver;
  color: silver;
  margin-top: 0;
}