<div class="wrapper chartman-theme mat-elevation-z10" 
  fxLayout="column" (scroll)="onScroll($event)">
  <app-header></app-header> 
  <div *ngIf="should_display_sidenav" 
       fxHide.gt-sm 
       fxFlexAlign="start" [@fadeInOut]
       class="sticky-position sidenav-toggle-box">
    <button 
      fxFlexAlign="start"
      class="action-button sticky-position"
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center stretch" style="width: 100vw">
    <app-sidenav fxHide.lt-md [@slideFadeInOutFromLeft]="should_display_sidenav">
    </app-sidenav>
    <main id="main-content" (click)="closeNavBar()">
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-scroll-to-top></app-scroll-to-top>
  <footer class="bookend" fxLayout="column" fxLayoutAlign="center center" fxFlex="1">
    <div fxFlexAlign="start"></div>
    <h2>&copy; 2019 - Zbay Industries</h2>
    <div fxFlexAlign="end"></div>
  </footer>
</div>
<div style="display: none" #side_trigger></div>
<mat-menu #menu="matMenu" class="popup-sidenav">
  <app-sidenav class="chartman-theme" fxHide.gt-sm></app-sidenav>
</mat-menu>
