@import '../../../chartman-theme.scss';

header {
    box-sizing: border-box;
    margin-bottom:1em;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    width: 100vw;
    z-index: $header-z-index;

    .menu-button {
        margin-right: 5px;
    }
}

.hidden {
    display: none;
}