@import '../../../chartman-theme.scss';

header {
    box-sizing: border-box;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    width: 100vw;
    z-index: $header-z-index;
    height: 90px;
}

.hidden {
    display: none !important;
}
