<header class="jumbotron bookend mat-elevation-z10"
fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1>&cent;hartman</h1>
      <div fxLayoutAlign="center center" class="dropdownToggle" fxHide.gt-md>
        <button mat-icon-button 
            class="menu-button"
            [matMenuTriggerFor]="menu">
          <mat-icon>dehaze</mat-icon>
        </button>
      </div>
      <app-navbar fxHide.lt-lg></app-navbar>
  </div>
</header>
<mat-menu #menu="matMenu" fxHide.gt-md class="mat-elevation-z10">
  <app-navbar-vert fxHide.gt-md></app-navbar-vert>
</mat-menu>

